# Files to encrypt with git-crypt
database.db filter=git-crypt diff=git-crypt
database.db.backup filter=git-crypt diff=git-crypt
# Common private keys or exports
*.key filter=git-crypt diff=git-crypt

# Additional sensitive files
.secrets filter=git-crypt diff=git-crypt
.env filter=git-crypt diff=git-crypt
*.pem filter=git-crypt diff=git-crypt
