{
  "log": {
    "_recordingName": "spotify-integration",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "110599e220c8f5dbaa7a850e2cfed6f5",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "REDACTED"
          },
          "queryString": [],
          "url": "https://accounts.spotify.com/api/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 198,
            "text": "{\"access_token\":\"BQAXraemV4VmtdU-YgevuUlhQMWric65q8Lnv2ev7m_mCPo4Pd4O7jb2JTV4T9bF9cKLyZtfIuFW0uYoUnKiEJU7gBz-QhdBuV5Bf9QUbNU1dX3G1ojaCNdfoFcR-_eqVsknVJt5r1k\",\"token_type\":\"Bearer\",\"expires_in\":3600}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 292,
      },
      {
        "_id": "ee3ec73f9cb8dd34d228b36a10f69087",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer REDACTED"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "q",
              "value": "artist:The Beatles album:Abbey Road"
            },
            {
              "name": "type",
              "value": "track"
            },
            {
              "name": "limit",
              "value": "20"
            }
          ],
          "url": "https://api.spotify.com/v1/search?q=artist%3AThe%20Beatles%20album%3AAbbey%20Road&type=track&limit=20"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 72716,
            "text": "{\"tracks\":{\"href\":\"https://api.spotify.com/v1/search?offset=0&limit=20&query=artist%3AThe%20Beatles%20album%3AAbbey%20Road&type=track&locale=*\",\"limit\":20,\"next\":\"https://api.spotify.com/v1/search?offset=20&limit=20&query=artist%3AThe%20Beatles%20album%3AAbbey%20Road&type=track&locale=*\",\"offset\":0,\"previous\":null,\"total\":85,\"items\":[{\"album\":{\"album_type\":\"album\",\"artists\":[{\"external_urls\":{\"spotify\":\"https://open.spotify.com/artist/3WrFJ7ztbogyGnTHbHJFl2\"},\"href\":\"https://api.spotify.com/v1/artists/3WrFJ7ztbogyGnTHbHJFl2\",\"id\":\"3WrFJ7ztbogyGnTHbHJFl2\",\"name\":\"The Beatles\",\"type\":\"artist\",\"uri\":\"spotify:artist:3WrFJ7ztbogyGnTHbHJFl2\"}],\"available_markets\":[\"AR\",\"AU\",\"AT\",\"BE\",\"BO\",\"BR\",\"BG\",\"CA\",\"CL\",\"CO\",\"CR\",\"CY\",\"CZ\",\"DK\",\"DO\",\"DE\",\"EC\",\"EE\",\"SV\",\"FI\",\"FR\",\"GR\",\"GT\",\"HN\",\"HK\",\"HU\",\"IS\",\"IE\",\"IT\",\"LV\",\"LT\",\"LU\",\"MY\",\"MT\",\"MX\",\"NL\",\"NZ\",\"NI\",\"NO\",\"PA\",\"PY\",\"PE\",\"PH\",\"PL\",\"PT\",\"SG\",\"SK\",\"ES\",\"SE\",\"CH\",\"TW\",\"TR\",\"UY\",\"US\",\"GB\",\"AD\",\"LI\",\"MC\",\"ID\",\"JP\",\"TH\",\"VN\",\"RO\",\"IL\",\"ZA\",\"SA\",\"AE\",\"BH\",\"QA\",\"OM\",\"KW\",\"EG\",\"MA\",\"DZ\",\"TN\",\"LB\",\"JO\",\"PS\",\"IN\",\"BY\",\"KZ\",\"MD\",\"UA\",\"AL\",\"BA\",\"HR\",\"ME\",\"MK\",\"RS\",\"SI\",\"KR\",\"BD\",\"PK\",\"LK\",\"GH\",\"KE\",\"NG\",\"TZ\",\"UG\",\"AG\",\"AM\",\"BS\",\"BB\",\"BZ\",\"BT\",\"BW\",\"BF\",\"CV\",\"CW\",\"DM\",\"FJ\",\"GM\",\"GE\",\"GD\",\"GW\",\"GY\",\"HT\",\"JM\",\"KI\",\"LS\",\"LR\",\"MW\",\"MV\",\"ML\",\"MH\",\"FM\",\"NA\",\"NR\",\"NE\",\"PW\",\"PG\",\"WS\",\"SM\",\"ST\",\"SN\",\"SC\",\"SL\",\"SB\",\"KN\",\"LC\",\"VC\",\"SR\",\"TL\",\"TO\",\"TT\",\"TV\",\"VU\",\"AZ\",\"BN\",\"BI\",\"KH\",\"CM\",\"TD\",\"KM\",\"GQ\",\"SZ\",\"GA\",\"GN\",\"KG\",\"LA\",\"MO\",\"MR\",\"MN\",\"NP\",\"RW\",\"TG\",\"UZ\",\"ZW\",\"BJ\",\"MG\",\"MU\",\"MZ\",\"AO\",\"CI\",\"DJ\",\"ZM\",\"CD\",\"CG\",\"IQ\",\"LY\",\"TJ\",\"VE\",\"ET\",\"XK\"],\"external_urls\":{\"spotify\":\"https://open.spotify.com/album/0ETFjACtuP2ADo6LFhL6HN\"},\"href\":\"https://api.spotify.com/v1/albums/0ETFjACtuP2ADo6LFhL6HN\",\"id\":\"0ETFjACtuP2ADo6LFhL6HN\",\"images\":[{\"height\":640,\"width\":640,\"url\":\"https://i.scdn.co/image/ab67616d0000b273dc30583ba717007b00cceb25\"},{\"height\":300,\"width\":300,\"url\":\"https://i.scdn.co/image/ab67616d00001e02dc30583ba717007b00cceb25\"},{\"height\":64,\"width\":64,\"url\":\"https://i.scdn.co/image/ab67616d00004851dc30583ba717007b00cceb25\"}],\"is_playable\":true,\"name\":\"Abbey Road (Remastered)\",\"release_date\":\"1969-09-26\",\"release_date_precision\":\"day\",\"total_tracks\":17,\"type\":\"album\",\"uri\":\"spotify:album:0ETFjACtuP2ADo6LFhL6HN\"},\"artists\":[{\"external_urls\":{\"spotify\":\"https://open.spotify.com/artist/3WrFJ7ztbogyGnTHbHJFl2\"},\"href\":\"https://api.spotify.com/v1/artists/3WrFJ7ztbogyGnTHbHJFl2\",\"id\":\"3WrFJ7ztbogyGnTHbHJFl2\",\"name\":\"The Beatles\",\"type\":\"artist\",\"uri\":\"spotify:artist:3WrFJ7ztbogyGnTHbHJFl2\"}],\"available_markets\":[\"AR\",\"AU\",\"AT\",\"BE\",\"BO\",\"BR\",\"BG\",\"CA\",\"CL\",\"CO\",\"CR\",\"CY\",\"CZ\",\"DK\",[...]
