{
  "log": {
    "_recordingName": "spotify-client",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "be03e29dbc07b7704131c499199170e2",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Bearer REDACTED"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "q",
              "value": "artist:AC/DC track:Back in Black"
            },
            {
              "name": "type",
              "value": "track"
            },
            {
              "name": "limit",
              "value": "20"
            }
          ],
          "url": "https://api.spotify.com/v1/search?q=artist%3AAC%2FDC%20track%3ABack%20in%20Black&type=track&limit=20"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 63528,
            "text": "{\"tracks\":{\"href\":\"https://api.spotify.com/v1/search?offset=0&limit=20&query=artist%3AAC%2FDC%20track%3ABack%20in%20Black&type=track&locale=*\",\"limit\":20,\"next\":\"https://api.spotify.com/v1/search?offset=20&limit=20&query=artist%3AAC%2FDC%20track%3ABack%20in%20Black&type=track&locale=*\",\"offset\":0,\"previous\":null,\"total\":31,\"items\":[{\"album\":{\"album_type\":\"album\",\"artists\":[{\"external_urls\":{\"spotify\":\"https://open.spotify.com/artist/711MCceyCBcFnzjGY4Q7Un\"},\"href\":\"https://api.spotify.com/v1/artists/711MCceyCBcFnzjGY4Q7Un\",\"id\":\"711MCceyCBcFnzjGY4Q7Un\",\"name\":\"AC/DC\",\"type\":\"artist\",\"uri\":\"spotify:artist:711MCceyCBcFnzjGY4Q7Un\"}],\"available_markets\":[\"AR\",\"AU\",\"AT\",\"BE\",\"BO\",\"BR\",\"BG\",\"CA\",\"CL\",\"CO\",\"CR\",\"CY\",\"CZ\",\"DK\",\"DO\",\"DE\",\"EC\",\"EE\",\"SV\",\"FI\",\"FR\",\"GR\",\"GT\",\"HN\",\"HK\",\"HU\",\"IS\",\"IE\",\"IT\",\"LV\",\"LT\",\"LU\",\"MY\",\"MT\",\"MX\",\"NL\",\"NZ\",\"NI\",\"NO\",\"PA\",\"PY\",\"PE\",\"PH\",\"PL\",\"PT\",\"SG\",\"SK\",\"ES\",\"SE\",\"CH\",\"TW\",\"TR\",\"UY\",\"US\",\"GB\",\"AD\",\"LI\",\"MC\",\"ID\",\"JP\",\"TH\",\"VN\",\"RO\",\"IL\",\"ZA\",\"SA\",\"AE\",\"BH\",\"QA\",\"OM\",\"KW\",\"EG\",\"MA\",\"DZ\",\"TN\",\"LB\",\"JO\",\"PS\",\"IN\",\"BY\",\"KZ\",\"MD\",\"UA\",\"AL\",\"BA\",\"HR\",\"ME\",\"MK\",\"RS\",\"SI\",\"KR\",\"BD\",\"PK\",\"LK\",\"GH\",\"KE\",\"NG\",\"TZ\",\"UG\",\"AG\",\"AM\",\"BS\",\"BB\",\"BZ\",\"BT\",\"BW\",\"BF\",\"CV\",\"CW\",\"DM\",\"FJ\",\"GM\",\"GE\",\"GD\",\"GW\",\"GY\",\"HT\",\"JM\",\"KI\",\"LS\",\"LR\",\"MW\",\"MV\",\"ML\",\"MH\",\"FM\",\"NA\",\"NR\",\"NE\",\"PW\",\"PG\",\"PR\",\"WS\",\"SM\",\"ST\",\"SN\",\"SC\",\"SL\",\"SB\",\"KN\",\"LC\",\"VC\",\"SR\",\"TL\",\"TO\",\"TT\",\"TV\",\"VU\",\"AZ\",\"BN\",\"BI\",\"KH\",\"CM\",\"TD\",\"KM\",\"GQ\",\"SZ\",\"GA\",\"GN\",\"KG\",\"LA\",\"MO\",\"MR\",\"MN\",\"NP\",\"RW\",\"TG\",\"UZ\",\"ZW\",\"BJ\",\"MG\",\"MU\",\"MZ\",\"AO\",\"CI\",\"DJ\",\"ZM\",\"CD\",\"CG\",\"IQ\",\"LY\",\"TJ\",\"VE\",\"ET\",\"XK\"],\"external_urls\":{\"spotify\":\"https://open.spotify.com/album/6mUdeDZCsExyJLMdAfDuwh\"},\"href\":\"https://api.spotify.com/v1/albums/6mUdeDZCsExyJLMdAfDuwh\",\"id\":\"6mUdeDZCsExyJLMdAfDuwh\",\"images\":[{\"height\":640,\"width\":640,\"url\":\"https://i.scdn.co/image/ab67616d0000b273ff191d7fbdb5a13eaf84132b\"},{\"height\":300,\"width\":300,\"url\":\"https://i.scdn.co/image/ab67616d00001e02ff191d7fbdb5a13eaf84132b\"},{\"height\":64,\"width\":64,\"url\":\"https://i.scdn.co/image/ab67616d00004851ff191d7fbdb5a13eaf84132b\"}],\"is_playable\":true,\"name\":\"Back In Black\",\"release_date\":\"1980-07-25\",\"release_date_precision\":\"day\",\"total_tracks\":10,\"type\":\"album\",\"uri\":\"spotify:album:6mUdeDZCsExyJLMdAfDuwh\"},\"artists\":[{\"external_urls\":{\"spotify\":\"https://open.spotify.com/artist/711MCceyCBcFnzjGY4Q7Un\"},\"href\":\"https://api.spotify.com/v1/artists/711MCceyCBcFnzjGY4Q7Un\",\"id\":\"711MCceyCBcFnzjGY4Q7Un\",\"name\":\"AC/DC\",\"type\":\"artist\",\"uri\":\"spotify:artist:711MCceyCBcFnzjGY4Q7Un\"}],\"available_markets\":[\"AR\",\"AU\",\"AT\",\"BE\",\"BO\",\"BR\",\"BG\",\"CA\",\"CL\",\"CO\",\"CR\",\"CY\",\"CZ\",\"DK\",\"DO\"[...]
